{% extends 'base.html' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <p>Product Search</p>
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label fo="inputSearch" class="col-lg-2 control-label">Search</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputSearch">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}}