{% extends 'base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <div class="container">
            <p>Product Search</p>
            <form class="form-horizontal" action="{% url 'product:search' %}">
                <fieldset>
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endfor %}
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <div class="col-lg-12 has-error">

    </div>
{% endblock %}}